.fnt-noto {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400
}

img {
    width: 100%;
    height: auto
}

#belt .btn-action {
    padding: 10vw 3vw
}

#belt .btn-action .btn-web {
    margin-top: 5vw
}

#header {
    position: relative
}

#header::after {
    position: absolute;
    content: "";
    background: url("../img/shared/line01.png") repeat-x center top;
    width: 100%;
    height: 2vw;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px #000;
    z-index: 999
}

#header .photo img {
    width: 100%;
    height: auto
}

#header .txt_key {
    position: absolute;
    bottom: 5% !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999
}

.wrap {
    padding: 0 4%
}

#sec1 {
    background: url("../img/mikunigaoka/sec1_deco_1.png") no-repeat right top, url("../img/mikunigaoka/sec1_bg.png") no-repeat center top;
    box-shadow: 0 0 10px #000;
    background-size: 100%, cover
}

#sec1 .wrap .btn-link,
#sec1 .wrap .btn-web {
    width: 80%;
    margin: 0 auto
}

#sec1 .wrap .btn-link {
    padding: 5vw 0 3vw
}

#sec1 .wrap .btn-web {
    padding: 0 0 5vw
}

#sec1 .wrap .txt {
    padding: 5vw 0
}

#sec1 .wrap .note {
    font-weight: bold
}

#sec1 .wrap .js-slider {
    padding: 5vw 0 8vw
}

#sec1 .wrap .js-slider .slick-dots li {
    border-radius: unset
}

#sec1 .wrap .js-slider .slick-dots li button {
    background: #3f3e3d;
    border-radius: unset;
    border: none
}

#sec1 .wrap .js-slider .slick-dots .slick-active button {
    background: #c92c06
}

#sec2 {
    position: relative;
    background: url("../img/mikunigaoka/sec2_bg_top.png") no-repeat center top/100%, url("../img/mikunigaoka/sec2_deco_1.png") no-repeat right 64vw/80%, url("../img/mikunigaoka/sec2_bg_main.jpg") center top
}

#sec2::before {
    position: absolute;
    content: "";
    background: url("../img/mikunigaoka/sec2_deco_3.png") no-repeat right bottom/100%;
    width: 86%;
    height: 73vw;
    bottom: -38vw;
    right: 0
}

#sec2 h2 {
    position: relative;
    padding: 10vw 0 8vw 13vw;
    letter-spacing: .05em;
    line-height: 1.5;
    font-weight: 900
}

#sec2 h2 .open {
    font-size: 4.5vw;
    color: #c92c06;
    margin-left: 32%
}

#sec2 h2 .open span {
    color: #fff;
    font-size: 5vw
}

#sec2 h2 img {
    position: absolute;
    width: 55%;
    top: 17%;
    left: 28%
}

#sec2 h2 .price {
    color: #c92c06;
    font-size: 4vw;
    margin-top: 10vw;
    margin-left: calc(50% + 22vw);
    text-shadow: -2px -3px 3px #fff, 2px -2px 3px #fff, -3px 2px 3px #fff, 2px 4px 3px #fff, -3px -3px 3px #fff, 5px 2px 3px #fff, 4px -3px 3px #fff, 3px 3px 2px #fff
}

#sec2 h2 .price span {
    font-size: 3vw
}

#sec2 .img1 {
    margin-top: -31vw;
    width: 77%
}

#sec2 .box {
    background: url("../img/mikunigaoka/bg03.jpg");
    width: 78%;
    margin: 25vw auto 0;
    padding: 3vw 4vw 6vw;
    font-weight: bold;
    position: relative;
    border: 3px solid #000;
    box-shadow: 0 0 10px #000
}

#sec2 .plus {
    width: 15%;
    margin: 0 auto
}

#sec2 .box1::after {
    position: absolute;
    content: "";
    background: url("../img/mikunigaoka/sec2_deco_2.png") no-repeat left top/100%;
    width: 63%;
    height: 77vw;
    bottom: -67vw;
    right: 47vw
}

#sec2 .box2 {
    margin-top: 5vw;
    padding-bottom: 20vw
}

#sec2 .box2 dl {
    text-align: center
}

#sec2 .box2 dl dt {
    font-size: 25px
}

#sec2 .box3 {
    position: relative;
    margin-top: 5vw
}

#sec2 .box3 .list {
    margin: 5vw 0 10vw;
    position: relative
}

#sec2 .box3 .list::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -2vw;
    border-left: 1px solid #968887;
    height: 100%;
    transform: translateY(-50%)
}

#sec2 .deco1,
#sec2 .deco2 {
    position: relative
}

#sec2 .deco1 {
    width: 23vw;
    margin-left: 67%;
    margin-top: -23%
}

#sec2 .deco2 {
    width: 42vw;
    margin-top: -10vw;
    margin-left: 53%
}

#sec3 {
    background: url("../img/mikunigaoka/sec3_bg_top.png") no-repeat center top/100%;
    margin: 0 auto;
    padding: 23vw 0 0
}

#sec3 .wrap .ttl,
#sec3 .wrap .image {
    margin: 0 auto
}

#sec3 .wrap .ttl {
    width: 80%;
    padding-top: 10%
}

#sec3 .wrap .note {
    text-align: center
}

#sec3 .wrap .image {
    padding-top: 5vw;
    width: 70%
}

#sec4 {
    padding-top: 5vw;
    background: url("../img/mikunigaoka/sec4_bg_bottom.png") no-repeat center bottom;
    background-size: 100%
}

#sec4 .img-slide .sec4-slider li {
    position: relative
}

#sec4 .img-slide .sec4-slider li .info {
    position: absolute;
    background: url("../img/shared/bg05.jpg") center/100%;
    width: 57vw;
    bottom: 4%;
    right: 4%;
    color: #000;
    font-weight: bold;
    padding: 4vw 3vw 1vw 6vw;
    line-height: 1.5
}

#sec4 .img-slide .sec4-slider li .info dt {
    font-size: 4vw
}

#sec4 .img-slide .sec4-slider li .info dt span {
    font-size: 3.3vw
}

#sec4 .img-slide .sec4-slider li .info dd {
    text-align: right;
    font-size: 3.5vw
}

#sec4 .img-slide .sec4-slider li .info dd span {
    font-size: 3vw
}

#sec4 .img-slide .sec4-slider li .info1 {
    display: flex;
    align-items: end
}

#sec4 .img-slide .js-thumb {
    padding-top: 3vw
}

#sec4 .img-slide .js-thumb .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
    flex-wrap: wrap;
    display: flex;
    justify-content: start
}

#sec4 .img-slide .js-thumb .slick-track .slick-slide {
    width: 30% !important;
    padding: 3vw 4.4vw 0 0
}

#sec4 .img-slide .js-thumb .slick-track .slick-slide:nth-child(3),
#sec4 .img-slide .js-thumb .slick-track .slick-slide:nth-child(6) {
    padding-right: 0
}

#sec4 .img-slide .js-thumb .slick-track .slick-slide li {
    cursor: pointer;
    opacity: .7;
    background-color: rgba(0, 0, 0, .5) !important
}

#sec4 .img-slide .js-thumb .slick-track .slick-current li {
    opacity: 1
}

#sec4 .note {
    text-align: center;
    padding: 3vw 0 10vw
}

#sec5 {
    background: url("../img/mikunigaoka/sec5_deco_1.png") no-repeat left top, url("../img/mikunigaoka/sec5_deco_2.png") no-repeat right bottom, url("../img/mikunigaoka/bg04.jpg");
    background-size: 100%, 100%, cover
}

#sec5 .wrap h2 {
    width: 60%;
    margin: 0 auto;
    padding: 5vw 0 3vw
}

#sec5 .wrap .floor-map,
#sec5 .wrap .photo1,
#sec5 .wrap .slide-1,
#sec5 .wrap .txt {
    padding-bottom: 5vw
}

#sec5 .wrap .floor-map {
    margin: -28vw 0 0
}

#sec5 .wrap .txt {
    color: #000
}

#sec5 .wrap .slide-2 {
    padding-bottom: 10vw
}

#footer {
    background: url("../img/mikunigaoka/bg13.jpg")
}

#footer .ft-top .wrap .ft-logo {
    width: 50%;
    margin: 0 auto;
    padding: 5vw 0 3vw
}

#footer .ft-top .wrap .tel {
    border-top: 1px solid #fff;
    padding-top: 3vw
}

#footer .ft-top .wrap .info {
    margin-top: 3vw
}

#footer .ft-top .wrap .info dl {
    border-bottom: 1px solid #6c5b56;
    display: flex
}

#footer .ft-top .wrap .info dl dt {
    max-width: 26vw;
    width: 100%
}

#footer .ft-top .wrap .info dl:last-child {
    border-bottom: unset
}

#footer .ft-top .wrap .photo {
    padding: 5vw 5vw 0
}

#footer .ft-top .wrap .note {
    padding-bottom: 10vw
}

#footer .map {
    padding-bottom: 5vw
}

#footer .map .map-action li {
    width: 80%;
    margin: 0 auto
}

#footer .map .map-action .map-btn {
    margin: 5vw auto 3vw
}

#footer .map .map-action .map-btn a {
    position: relative;
    display: block;
    background: #d61320;
    line-height: 1.5;
    padding: 6% 3%;
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    text-decoration: none
}

#footer .map .map-action .map-btn a:hover {
    opacity: .8
}

#footer .map .map-action .map-btn a::before {
    position: absolute;
    content: "";
    background: url("../img/mikunigaoka/icon_row.png") no-repeat center;
    width: 11vw;
    height: 11vw;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%)
}

#footer .map .map-action .gmap-print {
    text-align: left;
    text-decoration: underline
}

#footer .map .map-action .gmap-print:hover {
    text-align: unset;
    text-decoration: none
}

#footer .ft-bottom {
    background: rgba(0, 0, 0, .6);
    padding: 4vw 0 6vw;
    text-align: center
}

#footer .ft-bottom .wrap #socialbuttons {
    display: flex;
    justify-content: center;
    line-height: 1.5
}

#footer .ft-bottom .wrap address {
    background: none;
    font-size: 12px;
    margin: 0;
    padding: 0 0 10vw
}

#footer .ft-bottom .wrap address a {
    text-decoration: underline
}

#footer .ft-bottom .wrap address a:hover {
    text-decoration: none
}